In [19]:
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from IPython.display import display

In [2]:
def enum_row(row):
    print(row['state'])
    
def find_state_code(row):
    if row['state'] != 0:
        print(process.extractOne(row['state'], states, score_cutoff = 80))
        
def capital(str):
    return str.capitalize()

def correct_state(row):
    if row['state'] != 0:
        state = process.extractOne(row['state'], states, score_cutoff = 80)
        
def fill_state_code(row):
    if row['state'] != 0:
        state = process.extractOne(row['state'], states, score_cutoff = 80)
        if state:
            state_name = state[0]
            return state_to_code[state_name]
    return ''

In [25]:
pd.set_option('display.width', 200)    #展示长度限制为200
data = pd.read_excel('sales.xlsx',sheet_name = 'sheet1', header = 0)
# print('data.head() = \n', data.head())
# print('data.tail() = \n', data.tail())
# print('data.dtypes = \n', data.dtypes)
# print('data.columns = \n', data.columns)
# for i in data.columns:
#     print(i, end = ' ')    #每一循环输出列后用空格分隔，防止另起一行
# print()
data['total'] = data['Jan'] + data['Feb'] + data['Mar']
# print(data.head())
# print(data['Jan'].sum())
# print(data['Jan'].min())
# print(data['Jan'].max())
# print(data['Jan'].mean())

print('=========================')

s1 = data[['Jan', 'Feb', 'Mar', 'total']].sum()
display(s1)
print('=========================')
s2 = pd.DataFrame(data = s1)
display(s2)    #该操作重置了列数
print('=========================')
display(s1.shape, s2.shape)
print('=========================')
display(s2.T)
print('=========================')
display(s2.T.reindex(columns = data.columns))
print('=========================')
s = pd.DataFrame(data = data[['Jan', 'Feb', 'Mar', 'total']].sum()).T
s = s.reindex(columns = data.columns, fill_value = 0)
display(s)
print('=========================')
data = data.append(s, ignore_index = True)
display(data)
print('=========================')
data = data.rename(index = {15: 'Total'})    #将第15行index重命名
data.tail()

=========================

Jan      1462000
Feb      1507000
Mar       717000
total    3686000
dtype: int64

=========================

             0
Jan    1462000
Feb    1507000
Mar     717000
total  3686000

=========================

(4,)

(4, 1)

=========================

       Jan      Feb     Mar    total
0  1462000  1507000  717000  3686000

=========================

   account  name  street  city  state  postal-code      Jan      Feb     Mar    total
0      NaN   NaN     NaN   NaN    NaN          NaN  1462000  1507000  717000  3686000

=========================

   account  name  street  city  state  postal-code      Jan      Feb     Mar    total
0        0     0       0     0      0            0  1462000  1507000  717000  3686000

=========================

    account                              name                                street               city          state  postal-code      Jan      Feb     Mar    total
0    211829        Kerluke, Koepp and Hilpert                    34456 Sean Highway         New Jaycob          Texas        28752    10000    62000   35000   107000
1    320563                    Walter-Trantow                     1311 Alvis Tunnel      Port Khadijah  NorthCarolina        38365    95000    45000   35000   175000
2    648336        Bashirian, Kunde and Price  62184 Schamberger Underpass Apt. 231     New Lilianland           Iowa        76517    91000   120000   35000   246000
3    109996       D'Amore, Gleichner and Bode           155 Fadel Crescent Apt. 144         Hyattburgh          Maine        46021    45000   120000   10000   175000
4    121213                     Bauch-Goldner                   7274 Marissa Common    Shanahanchester     California        49681   162000   120000   35000   317000
5    132971  Williamson, Schumm and Hettinger                  89403 Casimer Spring       Jeremieburgh       Arkansas        62785   150000   120000   35000   305000
6    145068                        Casper LLC          340 Consuela Bridge Apt. 400  Lake Gabriellaton     Mississipi        18008    62000   120000   70000   252000
7    205217                  Kovacek-Johnston          91971 Cronin Vista Suite 601         Deronville    RhodeIsland        53461   145000    95000   35000   275000
8    209744                    Champlin-Morar                      26739 Grant Lock    Lake Juliannton   Pennsylvania        64415    70000    95000   35000   200000
9    212303                    Gerhold-Maggio             366 Maggio Grove Apt. 998          North Ras          Idaho        46308    70000   120000   35000   225000
10   214098       Goodwin, Homenick and Jerde             649 Cierra Forks Apt. 078           Rosaberg       Tenessee        47743    45000   120000   55000   220000
11   231907                        Hahn-Moore              18115 Olivine Throughway      Norbertomouth    NorthDakota        31415   150000    10000  162000   322000
12   242368      Frami, Anderson and Donnelly                       182 Bertie Road        East Davian           Iowa        72686   162000   120000   35000   317000
13   268755                       Walsh-Haley                  2624 Beatty Parkways       Goodwinmouth    RhodeIsland        31919    55000   120000   35000   210000
14   273274                     McDermott PLC                 8917 Bergstrom Meadow    Kathryneborough       Delaware        27933   150000   120000   70000   340000
15        0                                 0                                     0                  0              0            0  1462000  1507000  717000  3686000

=========================

       account                          name                    street             city        state  postal-code      Jan      Feb     Mar    total
11      231907                    Hahn-Moore  18115 Olivine Throughway    Norbertomouth  NorthDakota        31415   150000    10000  162000   322000
12      242368  Frami, Anderson and Donnelly           182 Bertie Road      East Davian         Iowa        72686   162000   120000   35000   317000
13      268755                   Walsh-Haley      2624 Beatty Parkways     Goodwinmouth  RhodeIsland        31919    55000   120000   35000   210000
14      273274                 McDermott PLC     8917 Bergstrom Meadow  Kathryneborough     Delaware        27933   150000   120000   70000   340000
Total        0                             0                         0                0            0            0  1462000  1507000  717000  3686000

In [30]:
print('===============apply的使用==================')

data.apply(enum_row, axis = 1)

'''州名及缩写'''
state_to_code = {"VERMONT": "VT", "GEORGIA": "GA", "IOWA": "IA", "Armed Forces Pacific": "AP", "GUAM": "GU",
                     "KANSAS": "KS", "FLORIDA": "FL", "AMERICAN SAMOA": "AS", "NORTH CAROLINA": "NC", "HAWAII": "HI",
                     "NEW YORK": "NY", "CALIFORNIA": "CA", "ALABAMA": "AL", "IDAHO": "ID",
                     "FEDERATED STATES OF MICRONESIA": "FM",
                     "Armed Forces Americas": "AA", "DELAWARE": "DE", "ALASKA": "AK", "ILLINOIS": "IL",
                     "Armed Forces Africa": "AE", "SOUTH DAKOTA": "SD", "CONNECTICUT": "CT", "MONTANA": "MT",
                     "MASSACHUSETTS": "MA",
                     "PUERTO RICO": "PR", "Armed Forces Canada": "AE", "NEW HAMPSHIRE": "NH", "MARYLAND": "MD",
                     "NEW MEXICO": "NM",
                     "MISSISSIPPI": "MS", "TENNESSEE": "TN", "PALAU": "PW", "COLORADO": "CO",
                     "Armed Forces Middle East": "AE",
                     "NEW JERSEY": "NJ", "UTAH": "UT", "MICHIGAN": "MI", "WEST VIRGINIA": "WV", "WASHINGTON": "WA",
                     "MINNESOTA": "MN", "OREGON": "OR", "VIRGINIA": "VA", "VIRGIN ISLANDS": "VI",
                     "MARSHALL ISLANDS": "MH",
                     "WYOMING": "WY", "OHIO": "OH", "SOUTH CAROLINA": "SC", "INDIANA": "IN", "NEVADA": "NV",
                     "LOUISIANA": "LA",
                     "NORTHERN MARIANA ISLANDS": "MP", "NEBRASKA": "NE", "ARIZONA": "AZ", "WISCONSIN": "WI",
                     "NORTH DAKOTA": "ND",
                     "Armed Forces Europe": "AE", "PENNSYLVANIA": "PA", "OKLAHOMA": "OK", "KENTUCKY": "KY",
                     "RHODE ISLAND": "RI",
                     "DISTRICT OF COLUMBIA": "DC", "ARKANSAS": "AR", "MISSOURI": "MO", "TEXAS": "TX", "MAINE": "ME"}
states = list(state_to_code.keys())

===============apply的使用==================
Texas
NorthCarolina
Iowa
Maine
California
Arkansas
Mississipi
RhodeIsland
Pennsylvania
Idaho
Tenessee
NorthDakota
Iowa
RhodeIsland
Delaware
0

In [28]:
print(fuzz.ratio('Python Package', 'PythonPackage'))        #输出相似度
display(process.extract('Mississippi', states))             #输出所有相似结果
display(process.extract('Mississipi', states, limit = 3))
display(process.extractOne('Mississippi', states))

96

[('MISSISSIPPI', 100),
 ('MISSOURI', 53),
 ('MASSACHUSETTS', 42),
 ('WISCONSIN', 40),
 ('VIRGIN ISLANDS', 38)]

[('MISSISSIPPI', 95), ('MISSOURI', 56), ('MASSACHUSETTS', 43)]

('MISSISSIPPI', 100)

In [31]:
print('Before Correct State:\n', data['state'])
data['state'] = data.apply(correct_state, axis=1)
print('After Correct State:\n', data['state'])
data.insert(5, 'State Code', np.nan)
data['State Code'] = data.apply(fill_state_code, axis=1)
print(data)

Before Correct State:
 0                Texas
1        NorthCarolina
2                 Iowa
3                Maine
4           California
5             Arkansas
6           Mississipi
7          RhodeIsland
8         Pennsylvania
9                Idaho
10            Tenessee
11         NorthDakota
12                Iowa
13         RhodeIsland
14            Delaware
Total                0
Name: state, dtype: object
After Correct State:
 0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
Total    None
Name: state, dtype: object

TypeError: ('expected string or bytes-like object', 'occurred at index 0')

In [40]:
print('================group by==================')
print(data.groupby('State Code'))
print('All Columns:\n')
print(data.groupby('State Code').sum())
print('Short Columns:\n')
print(data[['State Code', 'Jan', 'Feb', 'Mar', 'total']].groupby('State Code').sum())

================group by==================
<pandas.core.groupby.DataFrameGroupBy object at 0x0000029443082978>
All Columns:

            account  postal-code      Jan      Feb      Mar    total
State Code
            3547642       696009  2924000  3014000  1434000  7372000
Short Columns:

                Jan      Feb      Mar    total
State Code
            2924000  3014000  1434000  7372000

In [42]:
data[['State Code', 'Jan', 'Feb', 'Mar', 'total']].groupby('State Code').sum()

                Jan      Feb      Mar    total
State Code
            2924000  3014000  1434000  7372000