# 数据重塑

## 于数据帧中加入列和行

我们可以使用cbind()函数连接多个向量来创建数据帧

In [3]:
city = c("Tampa","Seattle","Hartford","Denver")
state = c("FL","WA","CT","CO")
zipcode = c(33602,98104,06161,80294)

addresses = cbind(city, state, zipcode)   #等同于concate
class(addresses)
addresses

[1] "matrix"

     city     state zipcode
[1,] Tampa    FL    33602
[2,] Seattle  WA    98104
[3,] Hartford CT    6161
[4,] Denver   CO    80294

In [7]:
new.address = data.frame(
   city = c("Lowry","Charlotte"),
   state = c("CO","FL"),
   zipcode = c("80230","33949"),
   stringsAsFactors = FALSE
)
new.address

  city      state zipcode
1 Lowry     CO    80230
2 Charlotte FL    33949

使用rbind()函数合并两个数据帧

In [8]:
all.addresses = rbind(addresses,new.address)
all.addresses

  city      state zipcode
1 Tampa     FL    33602
2 Seattle   WA    98104
3 Hartford  CT    6161
4 Denver    CO    80294
5 Lowry     CO    80230
6 Charlotte FL    33949

## 合并数据帧

有关Pima Indian Women的糖尿病的数据集

In [31]:
'Diabetes in Pima Indian Women'
library(MASS)
class(Pima.te)
Pima.te[1:5,]    #两种输出方法
head(Pima.tr, 5)

[1] "Diabetes in Pima Indian Women"

[1] "data.frame"

  npreg glu bp skin bmi  ped   age type
1 6     148 72 35   33.6 0.627 50  Yes
2 1      85 66 29   26.6 0.351 31  No
3 1      89 66 23   28.1 0.167 21  No
4 3      78 50 32   31.0 0.248 26  Yes
5 2     197 70 45   30.5 0.158 53  Yes

  npreg glu bp skin bmi  ped   age type
1 5      86 68 28   30.2 0.364 24  No
2 7     195 70 33   25.1 0.163 55  Yes
3 5      77 82 41   35.8 0.156 35  No
4 0     165 76 43   47.9 0.259 26  No
5 0     107 60 25   26.4 0.133 23  No

基于血压（“bp”）和体重指数（“bmi”）的值合并两个数据集。选择这两列用于合并时，其中这两个变量的值在两个数据集中匹配的记录被组合在一起以形成单个数据帧

In [9]:
library(MASS)
merged.Pima = merge(x = Pima.te, y = Pima.tr,
   by.x = c("bp", "bmi"),
   by.y = c("bp", "bmi")
)
merged.Pima
cat("行：", nrow(merged.Pima), "\t列：", ncol(merged.Pima))

   bp bmi  npreg.x glu.x skin.x ped.x age.x type.x npreg.y glu.y skin.y ped.y
1  60 33.8  1      117   23     0.466 27    No     2       125   20     0.088
2  64 29.7  2       75   24     0.370 33    No     2       100   23     0.368
3  64 31.2  5      189   33     0.583 29    Yes    3       158   13     0.295
4  64 33.2  4      117   27     0.230 24    No     1        96   27     0.289
5  66 38.1  3      115   39     0.150 28    No     1       114   36     0.289
6  68 38.5  2      100   25     0.324 26    No     7       129   49     0.439
7  70 27.4  1      116   28     0.204 21    No     0       124   20     0.254
8  70 33.1  4       91   32     0.446 22    No     9       123   44     0.374
9  70 35.4  9      124   33     0.282 34    No     6       134   23     0.542
10 72 25.6  1      157   21     0.123 24    No     4        99   17     0.294
11 72 37.7  5       95   33     0.370 27    No     6       103   32     0.324
12 74 25.9  9      134   33     0.460 81    No     8       126   38     0.162
13 74 25.9  1       95   21     0.673 36    No     8       126   38     0.162
14 78 27.6  5       88   30     0.258 37    No     6       125   31     0.565
15 78 27.6 10      122   31     0.512 45    No     6       125   31     0.565
16 78 39.4  2      112   50     0.175 24    No     4       112   40     0.236
17 88 34.5  1      117   24     0.403 40    Yes    4       127   11     0.598
   age.y type.y
1  31    No
2  21    No
3  24    No
4  21    No
5  21    No
6  43    Yes
7  36    Yes
8  40    No
9  29    Yes
10 28    No
11 55    No
12 39    No
13 39    No
14 49    Yes
15 49    Yes
16 38    No
17 28    No

行： 17 	列： 14

## 拆分数据帧

In [7]:
install.packages("reshape")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

将除类型和年份以外的所有列转换为多行展示

In [5]:
library(MASS)
library(reshape)
library(reshape2)
ships[1 : 10,]
molten.ships = melt(ships[1 : 5,], id = c("type", "year"))  
molten.ships

   type year period service incidents
1  A    60   60       127    0
2  A    60   75        63    0
3  A    65   60      1095    3
4  A    65   75      1095    4
5  A    70   60      1512    6
6  A    70   75      3353   18
7  A    75   60         0    0
8  A    75   75      2244   11
9  B    60   60     44882   39
10 B    60   75     17176   29

   type year variable  value
1  A    60   period      60
2  A    60   period      75
3  A    65   period      60
4  A    65   period      75
5  A    70   period      60
6  A    60   service    127
7  A    60   service     63
8  A    65   service   1095
9  A    65   service   1095
10 A    70   service   1512
11 A    60   incidents    0
12 A    60   incidents    0
13 A    65   incidents    3
14 A    65   incidents    4
15 A    70   incidents    6

将被拆分的数据转换为一种新形式，使用cast()函数创建每年每种类型的船的总和

In [8]:
recasted.ship = cast(melt(ships, id = c("type", "year")), type + year ~ variable, sum)
recasted.ship

   type year period service incidents
1  A    60   135      190     0
2  A    65   135     2190     7
3  A    70   135     4865    24
4  A    75   135     2244    11
5  B    60   135    62058    68
6  B    65   135    48979   111
7  B    70   135    20163    56
8  B    75   135     7117    18
9  C    60   135     1731     2
10 C    65   135     1457     1
11 C    70   135     2731     8
12 C    75   135      274     1
13 D    60   135      356     0
14 D    65   135      480     0
15 D    70   135     1557    13
16 D    75   135     2051     4
17 E    60   135       45     0
18 E    65   135     1226    14
19 E    70   135     3318    17
20 E    75   135      542     1

# 查看数据集

## 查看某一个package

In [3]:
library(MASS)
data()

[1] "packageIQR"

In [16]:
library(MASS)
data(phones)
print(phones)

$year
 [1] 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73

$calls
 [1]   4.4   4.7   4.7   5.9   6.6   7.3   8.1   8.8  10.6  12.0  13.5  14.9
[13]  16.1  21.2 119.0 124.0 142.0 159.0 182.0 212.0  43.0  24.0  27.0  29.0

## 查看所有

In [ ]:
data(package = .packages(all.available = TRUE))