In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
%matplot inline
plt.rcParams["font.sans-serif"] = ["SimHei"]    #设置中文字体

In [3]:
catering_sale = "./catering_sale.xls"
data = pd.read_excel(catering_sale, index_col = "日期")
print(len(data))
data.describe()    #有一个缺失值

201

                销量
count   200.000000
mean   2755.214700
std     751.029772
min      22.000000
25%    2451.975000
50%    2655.850000
75%    3026.125000
max    9106.440000